{% extends "portal/base.html" %}
{% block content %}
<div class="stack">
  <div class="card">
    <h2>Zmiana hasła</h2>
    {% if must %}
      <p class="muted">To jest Twoje pierwsze logowanie lub admin zresetował hasło – wymagana zmiana.</p>
    {% else %}
      <p class="muted">Ustaw nowe hasło.</p>
    {% endif %}
  </div>

  <div class="card">
    <form method="post">
      {% csrf_token %}
      <div class="django-form">
        {{ form.as_p }}
      </div>
      <div class="actions mt-2">
        <button class="btn" type="submit">Zmień hasło</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
